<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                    <h2 class="section-heading">About me</h2>
                
                    <p>
                      Dr. Avinash Karn holds a Ph.D. in Plant, Insect, and Microbial Sciences from the University of Missouri-Columbia and a Bachelor of Science in Agricultural Science from Truman State University in Kirksville, Missouri.  
                        He specializes in plant breeding, statistical genetics and computational biology, and has an excellent knowledge and experience in conducting big analysis on genotypic and phenotypic data sets.
                        He intends to use his education and training in pursuing a career in a research organization that is involved to improve human nutrition, health and environment for both developed and developing communities. 
                    </p>
                     <div itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/0000-0001-9730-8922" href="https://orcid.org/0000-0001-9730-8922" target="orcid.widget" rel="noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">orcid.org/0000-0001-9730-8922</a></div>
                    </p>
                       <div>
                      <a content="Google Scholar" href="https://scholar.google.com/citations?user=2XuofkoAAAAJ&hl=en"</a>
                       </div>
                   <hr>
                   <h2 class="section-heading">Awards & Honors</h2>
            
                    <p>2017 Research in Plant Biology Award, University of Missouri</p>
                    <p>2016 Life Sciences Week research recognition award, University of Missouri</p>
                    <p>2016/17 Division of Plant Sciences Travel Fund, University of Missouri</p>
                    <p>2013 Interdisciplinary Plant Group Travel Grant, University of Missouri</p>        
                    <p>2012-17 Dr. Marcus Zuber Endowment Fellowship, University of Missouri</p>
                    <p>2010 Dr. Max E. Bell Scholarship, Truman State University</p>
                    <p>2008-12 President’s Honorary Scholarship, Truman State University</p>                  
            <hr>
            <a class="twitter-timeline" data-width="600" data-height="500" href="https://twitter.com/avi_karn?ref_src=twsrc%5Etfw">Tweets by avi_karn</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            
            <hr>
            <p> Research Presentation and Tutorials </p>
            <iframe src="https://www.slideshare.net/AviKarn/slideshelf" width="600px" height="500px" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:none;" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>   
        </div>
        </div>
    </div>
</section>
<section id="pictures">
    <div class="container">
        <div class="row">
             <div class="col-lg-8 col-lg-offset-2 text-left">
                 <h2 class="section-heading">Pictures</h2>
            <iframe width="600" height="400" style="max-width:95%"  src="http://s280.photobucket.com/user/Avi_Karn/embed/slideshow/website"></iframe>
            </div>
            </div>
  </div>
</section>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123359651-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123359651-1');
</script>

