<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-left">
                    <h2 class="section-heading">About me</h2>
                
                    <p>Avinash (Avi) Karn is a quantitative geneticist, plant breeder and agronomist. He is currently a postdoctoral research scientist at Cornell University working on The <i>VitisGen</i> project, which is a multi-institution research collaboration funded by the USDA-NIFA Specialty Crop Research Initiative for the development of new grape varieties.  
                    He is a native of Nepal, he came to the US in January of 2008 at Truman State University in Kirksville, Missouri, where he completed his B.Sc. in Agricultural science, emphasizing in plant breeding and genetics. After the
                    completion of his B.Sc. degree, he received  Dr. Marcus Zuber endowement fellowship to pursue his doctoral study at the University of Missouri-Columbia in the area of plant breeding, genetics and genomics with Dr. Sherry Flint-Garcia (USDA-ARS, Research Geneticist). In his PhD dissertation, he worked with populations derived from maize and teosinte, aiming to discover novel alleles for kernel composition and, novel epistatic interactions to improve various agronomic and geo-climatic adaptation traits in crops.
                    Avi intends to use his education and training in pursuing a career in a research organization that is involved to improve human nutrition, health and environment for both developed and developing communities.</p>
                     </p>
            <hr>
                   <h2 class="section-heading">Awards & Honors</h2>
            
                    <p>2017 Research in Plant Biology Award, University of Missouri</p>
                    <p>2016 Life Sciences Week research recognition award, University of Missouri</p>
                    <p>2016/17 Division of Plant Sciences Travel Fund, University of Missouri</p>
                    <p>2013 Interdisciplinary Plant Group Travel Grant, University of Missouri</p>        
                    <p>2012-17 Dr. Marcus Zuber Endowment Fellowship, University of Missouri</p>
                    <p>2010 Dr. Max E. Bell Scholarship, Truman State University</p>
                    <p>2008-12 President’s Honorary Scholarship, Truman State University</p>                  
            <hr>
            <a class="twitter-timeline" data-width="600" data-height="500" href="https://twitter.com/avi_karn?ref_src=twsrc%5Etfw">Tweets by avi_karn</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            
            <hr>
            <p> Research Presentation and Tutorials </p>
            <iframe src="https://www.slideshare.net/AviKarn/slideshelf" width="760px" height="570px" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:none;" allowfullscreen webkitallowfullscreen mozallowfullscreen></iframe>   
        </div>
        </div>
    </div>
</section>
<section id="pictures">
    <div class="container">
        <div class="row">
             <div class="col-lg-8 col-lg-offset-2 text-left">
                 <h2 class="section-heading">Pictures</h2>
            <iframe width="600" height="400" style="max-width:95%"  src="http://s280.photobucket.com/user/Avi_Karn/embed/slideshow/website"></iframe>
            </div>
            </div>
  </div>
</section>
