<header>
    <style>
       
        h3  {
            background-color: green;
            }

        </style>
                <div class="header-content">
            <div class="header-content-inner">
            <p><img src="/img/akarn.png" style="max-width:95%" width="200px"></p>
            <h2>Avinash "Avi" Karn, Ph.D.</h2>
            <h3 class="whiteTextOverride">Plant Breeder | Statistical Geneticist | Computational Biologist</h3>
            <hr>
            </div>
                 </div>
</section>
        </div>
    </div>
</header>

        

        </div>
    </div>
</header>

        
