<header>
    <style>
       
        h3  {
            background-color: green;
            }

        </style>
                <div class="header-content">
            <div class="header-content-inner">
            <p><img src="/img/karn.jpg" style="max-width:95%" width="150px"></p>
            <h2 style="background-color:green;"> Avinash "Avi" Karn, Ph.D.</h2>
            <h3 class="whiteTextOverride"> Quantitative Geneticist | Computational Biologist</h3>
            </div>
                 </div>
</section>
        </div>
    </div>
</header>

        

        </div>
    </div>
</header>

        
